.container{
    display: grid;
    grid-template-columns:20% 80%;
    grid-template-areas:
      "left top-right"
      "left bottom-right";
      justify-items: stretch;

      & img{
        width: 80px; 
        height: 80px;
        grid-area: left;
      }

      & div#cv_titre{
        font-family: 'Franklin Gothic Medium';
        font-style: italic ;
        font-size: 20px;
        text-align: left;
        grid-area: top-right;
      }
      & div#nom_titre{
        font-family: 'Franklin Gothic Medium';
        font-style: normal ;
        font-size: 40px;
        text-align: left;
        grid-area: bottom-right;
      }
    
}


#contact {
    background-color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px solid black;

    & a{
        color: black;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    & a>img{
        width: 20px; 
        height: 20px;
    }

    
}



.container2{
    display: grid;
    grid-template-columns:50% 50%;
    
    grid-template-areas:
      "top-left top-right"
      "bottom-left bottom-right";
    grid-template-rows:50% 50%;

    & div#education{
        grid-area: top-left;
    }
    & div#experiences{
        grid-area: top-right;
    }
    & div#langues{
        grid-area: bottom-left;
    }
    & div#competences{
        grid-area: bottom-right;
    }
}
.Titre{
    color: white;
    background-color: black;
    text-align: center;
}
.container2>div{
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}

